<div class="container">
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (!isLoggedIn) {
      <h2 class="login-form__title">Вход</h2>
      <div class="login-form__field">
        <label for="phoneNumber" class="login-form__label">
          Номер телефона
          <input
            class="login-form__input"
            formControlName="phoneNumber"
            type="tel"
            placeholder="Введите номер телефона" />
        </label>
      </div>
      <div class="login-form__field">
        <label for="password" class="login-form__label">
          Пароль
          <input class="login-form__input" formControlName="password" type="password" placeholder="Введите пароль" />
        </label>
      </div>
      <button class="login-form__button" type="submit">Войти</button>
    }
  </form>
</div>
