<mat-toolbar class="header bg-primary-light">
  <mat-toolbar-row>
    <div class="company cursor-pointer">
      <span (click)="test()">Online Shop</span>
    </div>
    <span class="example-spacer flex-1"></span>
    <div>
      <mat-icon aria-hidden="false" [matBadge]="favoriteProductsQuantity$()" routerLink="/profile/favorites">
        favorite
      </mat-icon>
    </div>
    <div>
      <mat-icon aria-hidden="false" [matBadge]="cartProductsQuantity$()" routerLink="/cart">
        shopping_bag
      </mat-icon>
    </div>
    <div routerLink="/profile">
      <mat-icon>person</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
