@import '../../styles/variables.css';

h1 {
  font-size: 1.5em;
  font-weight: 900;
}

.container {
  display: flex;
  padding: 24px 32px;
  max-width: 1504px;
  margin: 0 auto;
}

.cart-list {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 24px;
  margin-right: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ddd;
}

.cart-item__image {
  object-fit: contain;
  padding: 5px 10px 5px 0;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.cart-order__sticky-wrap {
  position: sticky;
  top: 10px;
  width: 360px;
  padding: 24px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item__title {
  display: flex;
  flex-grow: 1;
  padding-right: 10px;
}

.cart-item__quantity {
  display: flex;
  align-items: center;
}

.cart-item__quantity-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.cart-item__amount {
  text-align: end;
  min-width: 150px;
}

.mx-4 {
  padding: 0 5px;
}

.cart-item__btn-change {
  width: 2.5em;
  height: 2.5em;
}

.cart-order__address-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.cart-order__totalSum {
  font-weight: 700;
}

.cart-order__count {
  font-style: italic;
  font-weight: 500;
}

@media (width <= 1050px) {
  .container {
    display: block;
    padding: 10px;
    max-width: 1504px;
    margin: 0 auto;
  }

  .cart-list {
    width: 100%;
    padding: 5px;
    margin: 0;
  }

  .cart-order__content {
    width: 100%;
  }

  .cart-order__sticky-wrap {
    position: relative;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  @media (width <= 580px) {
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
    }

    .cart-item__quantity {
      width: 100%;
      padding: 5px;
      border-top: 1px solid #ddd;
    }

    .cart-item__amount {
      margin: auto;
      flex-grow: 1;
    }
  }
}
