@if (isLoading()) {
  @if (cartProducts().length === 0) {
    <p>Ваша корзина пуста</p>
  }

  <div class="container">
    @if (cartProducts().length > 0) {
      <div class="cart-list">
        <h1>Корзина</h1>
        @for (product of cartProducts(); track product.productId) {
          <div class="cart-item__block">
            <div class="cart-item">
              <div class="cart-item__title">
                <img
                  class="cart-item__image"
                  [width]="100"
                  [height]="100"
                  [ngSrc]="apiUrl + product.images[0].imagePath" priority
                  [alt]="product.name"/>

                <span>{{ product.name }}</span>
              </div>

              <div class="cart-item__quantity">
                <div class="cart-item__quantity-btn">
                  <button
                    class="shp-button cart-item__btn-change"
                    (click)="changeQuantity(product, product.quantity - 1)">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span class="mx-4">{{ product.quantity }}</span>
                  <button
                    class="shp-button cart-item__btn-change"
                    (click)="changeQuantity(product, product.quantity + 1)">
                    <i class="fa-solid fa-plus fa-sm"></i>
                  </button>
                </div>

                <span class="cart-item__amount mx-4">{{ product.price * product.quantity | digitsCurrency }}</span>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="cart-order__content">
        <div class="cart-order__sticky-wrap">
          @if (!showAddress()) {
            <div class="cart-order__actions">
              <p class="cart-order__count">
                <span>Товары ({{ cartProducts().length }})</span>
              </p>
              <p class="cart-order__totalSum">
                <span>Итого: </span><span>{{ getTotalAmount() | digitsCurrency }}</span>
              </p>
              <button class="cart-order__submit-btn shp-button" (click)="showInputAddress()">Оформить заказ</button>
            </div>
          } @else {
            <div class="">
              <div [formGroup]="form" class="cart-order__address">
                <input
                  class="cart-order__address-input"
                  formControlName="address"
                  type="text"
                  placeholder="Введите адрес доставки"/>
              </div>
              <button class="cart-order__submit-btn shp-button" type="submit" (click)="createOrder()">
                Подтвердить заказ
              </button>
            </div>
          }
        </div>
      </div>
    }
  </div>
}
