.example-card {
  background-color: rgb(149, 192, 230);
  color: #000;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 500px;
  display: flex;
  height: 100%;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2vw;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto 0;
  position: relative;
  padding-bottom: 65px;
}

.image {
  max-width: 300px;
  height: 200px;
  object-fit: contain;
  position: relative;
  background-color: white;
}

.mat-mdc-card-header {
  padding: 0.5rem;
  flex-grow: 1;
}
