.example-card {
  max-width: 400px;
}

.example-card {
  background-color: rgb(149, 192, 230);
  color: #000;
  max-width: 300px;
  max-height: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.image {
  max-width: 300px;
  max-height: 300px;
  object-fit: fill;
}
