.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.product-card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-card__image {
  max-height: 300px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-card__description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.product-card__price {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000000;
}

.product-card__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 12px;
}

.product-card__quantity {
  padding: 0 5px;
  font-weight: 500;
  font-size: 1.5rem;
}

.product-card__increement-btn {
  width: 2.5rem;
  height: 2.5rem;
}

.product-card__add-to-cart-btn {
  margin-bottom: 12px;
}
