.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}

.header {
  flex: 0 0 auto;
}

router-outlet ~ * {
  min-height: calc(100vh - 60px);
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
