.cart-item__btn-change,
.cart-order__submit-btn,
.product-card__increement-btn,
.product-card__btn,
.product__increement-btn,
.product__add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(var(--secondary-color), 80%);
  border: none;
  border-radius: 12px;
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-item__btn-change:hover,
.product-card__increement-btn:hover,
.product__add-to-cart-btn:hover,
.product__increement-btn:hover,
.product-card__btn:hover,
.cart-order__submit-btn:hover {
  background-color: rgba(var(--secondary-color));
}
.cart-item__btn-change:disabled,
.product__add-to-cart-btn:disabled,
.product-card__increement-btn:disabled,
.product__increement-btn:disabled,
.product-card__btn:disabled,
.cart-order__submit-btn:disabled {
  background-color: #cccccc;
  cursor: default;
}

.cart-item__btn-change,
.product__increement-btn,
.product-card__increement-btn {
  width: 2em;
  height: 2em;
  padding: 0.5em;
}
